{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form action="/add_track/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_performer">Performer</label>
            <input type="text" value="{{performer}}" required class="form-control" id="id_performer" name="performer">
        </div>
        <div class="form-group">
            <label for="track">Track</label>
            <input type="text" value="{{track}}" required class="form-control" id="track" name="track">
        </div>
        <div class="form-group">
            <label for="duration">Duration</label>
            <input type="text" value="{{duration}}" required class="form-control" id="duration" name="duration">
            <h6>{{duration_error}}</h6>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
