{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Performer</th>
                <th scope="col">Track</th>
                <th scope="col">Duration</th>
                <th scope="col">DELETE</th>
                <th scope="col">EDIT</th>
            </tr>
            </thead>
            <tbody>
            {% for track in tracks %}
                <tr>
                    <td>{{ track.id }}</td>
                    <td>{{ track.performer }}</td>
                    <td>{{ track.track }}</td>
                    <td>{{ track.duration }}</td>
                    <td>
                        <form method="post" action="/delete_track/{{ track.id }}" class="d-inline-block">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link">Delete</button>
                        </form>

                    </td>
                    <td>
                        <a href="/edit_track/{{ track.id }}/">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
